trigger:
- ci-tools

resources:
  containers:
  - container: openjdk
    image: openjdk:11.0.3-jdk-stretch
  - container: postgres
    image: postgres:12-alpine
    ports:
      - 5432

jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    container: openjdk
    steps:
#      - task: Cache@2
#        inputs:
#          key: gradle-wrapper
#          restoreKeys: gradle-wrapper
#          path: ./.gradle/wrapper
#          displayName: Cache Gradle Wrapper Dependencies
#      - task: Cache@2
#        inputs:
#          key: gradle-caches
#          restoreKeys: gradle-caches
#          path: ./.gradle/caches
#          displayName: Cache Gradle Dependencies
      - bash: ./gradlew build -x test --no-daemon
      - bash: ls -la
      - bash: ls -laR .gradle/
      - bash: cat .gradle/buildOutputCleanup/cache.properties


  - job: Test
    dependsOn: Build
    pool:
      vmImage: 'ubuntu-latest'
    container: openjdk
    services:
      postgres:
    steps:
      - task: Cache@2
        inputs:
          key: gradle-wrapper
          restoreKeys: gradle-wrapper
          path: ./.gradle/wrapper
          displayName: Cache Gradle Wrapper Dependencies
      - task: Cache@2
        inputs:
          key: gradle-caches
          restoreKeys: gradle-caches
          path: ./.gradle/caches
          displayName: Cache Gradle Dependencies
      - bash: ./gradlew test
      - bash: ./gradlew jacocoTestReport
      - bash: ./gradlew assemble
