trigger:
- ci-tools

resources:
  containers:
  - container: openjdk
    image: openjdk:11.0.3-jdk-stretch
  - container: postgres
    image: postgres:12-alpine
    options: --env POSTGRES_USER=postgres --env POSTGRES_PASSWORD=postgres --env POSTGRES_DB=circle_test  --env POSTGRES_HOST_AUTH_METHOD=trust
    ports:
    - 5432

jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    container: openjdk
    steps:
      - bash: ./gradlew build -x test --no-daemon --build-cache --gradle-user-home=./.gradle
      - publish: $(System.DefaultWorkingDirectory)/build
        artifact: build

  - job: Test
    dependsOn: Build
    pool:
      vmImage: 'ubuntu-latest'
    container: openjdk
    services:
      postgres: postgres
    steps:
      - download: current
        artifact: build
      - bash: ./gradlew test --tests com.circleci.demojavaspring.postgres.*Test
      - bash: ./gradlew jacocoTestReport
      - bash: ./gradlew assemble
