# Gradle
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- ci-tools

pool:
  vmImage: 'ubuntu-latest'

container: openjdk:11.0.3-jdk-stretch

jobs:
  - job: Dependencies
    steps:
      - bash: ./gradlew build -x test

  - job: Test
    steps:
      - bash: ./gradlew test
      - bash: ./gradlew jacocoTestReport
      - bash: ./gradlew assemble
