pipelines:
  branches:
    ci-tools:
      - step:
          name: build
          image: openjdk:11.0.3-jdk-stretch
          caches:
            - gradle
            - gradlewrapper
          script:
            - ./gradlew build -x test
      - step:
          name: test
          image: openjdk:11.0.3-jdk-stretch
          caches:
            - gradle
            - gradlewrapper
          script:
            - ./gradlew test
            - ./gradlew jacocoTestReport
            - mkdir -p "/opt/atlassian/pipelines/agent/build/test-reports/"
            - cp -r build/test-results/test /opt/atlassian/pipelines/agent/build/test-reports/
            - ./gradlew assemble
          services:
            - database

definitions:
  caches:
    gradlewrapper: ~/.gradle/wrapper
  services:
    database:
      image: postgres:12-alpine
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: circle_test

